@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body{font-family: 'Poppins', sans-serif;}
p{font-size:12px;}
h1{font-size: 15px;}
h2{font-size: 14px;}


/* HOME
=========== */
/*********************
**********************
*****HEADER***********
**********************
**********************/
#header {height: 70px; transition: all 0.5s; transition: all 0.5s; padding: 10px 0; background: #808cc6; z-index: 997;}
#header.header-scrolled {box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.1);}
#header .logo h1 {font-family:'Poppins', sans-serif; font-size: 20px; margin: 0; padding: 10px 0; line-height: 1; font-weight: 400; letter-spacing: 3px; text-transform: uppercase; font-weight: bold;}
#header .logo h1 a, #header .logo h1 a:hover {color: #ffffff; text-decoration: none;}
#header .logo img {padding: 0; margin: 0; max-height: 40px;}


/*********************
**********************
*****Navbar***********
**********************
**********************/

.nav-menu, .nav-menu * {margin: 0; padding: 0; list-style: none;}
.nav-menu > ul > li {position: relative; white-space: nowrap; float: left;}
.nav-menu a {display: block; position: relative; color: #ffffff; padding: 12px 15px; transition: 0.3s;font-size: 14px; font-family: 'Poppins', sans-serif;}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {color: #BEEF9E;text-decoration: none;}
.nav-menu .dropdown ul {display: block; position: absolute; left: 0; top: 100%; z-index: 99; opacity: 0;visibility: hidden; padding: 10px 0; background: #fff; box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25); transition: ease all 0.3s; border-top: 2px solid #F16669;}
.nav-menu .dropdown:hover > ul {opacity: 1; top: 100%; visibility: visible;}
.nav-menu .dropdown li {min-width: 180px; position: relative;}
.nav-menu .dropdown ul a {padding: 10px 20px; font-size: 14px; font-weight: 500; text-transform: none; color: #3a3a3a;}
.nav-menu .dropdown ul a:hover, .nav-menu .dropdown ul .active > a, .nav-menu .dropdown ul li:hover > a {color: #F16669;}
.nav-menu .dropdown > a:after {font-family: 'Poppins', sans-serif; padding-left: 5px;}
.nav-menu .dropdown .dropdown ul {top: 0;left: 100%;}
.nav-menu .dropdown .dropdown:hover > ul {opacity: 1; top: 0;}
.nav-menu .dropdown .dropdown > a {padding-right: 35px;}
.nav-menu .dropdown .dropdown > a:after {font-family: 'Poppins', sans-serif; position: absolute; right: 15px;}
.bg-dark{background-color: #F16669!important;}


 
/*********************
**********************
*****Mobile-Nav*******
**********************
**********************/  

@media only screen and (max-width: 767px) {
	.nav-menu.ml-auto {background: rgba(0, 0, 0, 0.5);}
	.nav-menu a {font-size: 14px;font-weight: normal;}}

.navbar-toggler {padding: 1px 5px;font-size: 18px;line-height: 0.3;background: #fff;}	
@media (max-width: 1366px) {
	.dropdown .dropdown ul {
	  left: -90%;
	}
	.dropdown .dropdown:hover > ul {
	  left: -100%;
	}
  }












	
	  

	  
	
	  
	  



/*********************
**********************
*****Banner Image*****
**********************
**********************/
.banner{position:relative; background-color:#808cc6;  background-image:url(../img/header.png.png); min-height:100vh; width: 100%; background-size:contain; background-repeat: no-repeat; background-position: center; padding: 220px 0 200px;}

/*********************
**********************
*******Section********
**********************
**********************/

.section{padding:70px 0;}
.description{font-size: 1.5em; color:#999;}


/* OVER CSS
=========== */

/*********************
**********************
*******ABOUT ME*******
**********************
**********************/

.about_section{margin: 120px 0px 120px; }
.about_section .row {align-items: center;}
.about_img-box img {width: 70%;}
.about_detail-box p {margin: 24px 0;}
.about_stuk{margin: 0 !important;}
.title{font-weight: bold;}
.text_me{padding: 0px 120px 0px 0px;}


/*Triangle*/

.triangle-right {width: 0; height: 0px; border-top: 9px solid transparent; border-left: 13px solid #808cc6; border-bottom: 9px solid transparent; margin-bottom: 20px;}

/*Button */

.call_to-btn:hover,
.sub_call_to-btn:hover {color: #fff;-webkit-box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);-moz-box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);}
.sub_call_to-btn {display: inline-block; padding: 10px 28px; background-color: #F16669; color: #fff;display: flex; justify-content: center;align-items: center;}

/*********************
**********************
*****Vaardigheden*****
**********************
**********************/

.ftco-section {
	padding: 7em 0;
	position: relative; }
	@media (max-width: 767.98px) {
	  .ftco-section {padding: 6em 0; } }


.progress-wrap {width: 100%; margin-bottom: 30px; }
.progress {height: 10px;-webkit-box-shadow: none;box-shadow: none;background: #d8d8d8;overflow: visible; }
.progress-bar {background: #808cc6;-webkit-box-shadow: none;box-shadow: none;font-size: 12px;line-height: 1.2;color: #000000;font-weight: 700;position: relative;
				overflow: visible;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				-ms-border-radius: 2px;
				border-radius: 2px; }
				.progress-bar:after {
				  position: absolute;
				  top: -2px;
				  right: 0;
				  width: 34px;
				  height: 34px;
				  content: '';
				  background: #ffbd39;
				  -webkit-border-radius: 2px;
				  -moz-border-radius: 2px;
				  -ms-border-radius: 2px;
				  border-radius: 2px;
				  opacity: 0; }
				.progress-bar span {
				  position: absolute;
				  top: -38px;
				  right: 0;
				  font-size: 12px;
				  font-weight: 400;
				  color: #F16166; }
			  
			  
			  @media (min-width: 992px) {
				.margin-top {
				  margin-top: -70px;
				  padding-top: 10em !important; } }

 /* Project
 =========== */

/*********************
**********************
*****Cases***********
**********************
**********************/

.space-md {
    padding-top: 90px;
    padding-bottom: 90px;}

.headline {
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
}

.headline-content {
    display: block;
    position: relative;
}

.headline-content .headline-title {
    font-weight: 600;
}

.headline-subtitle {
    font-size: 12px;
	font-style: italic;
	color: #F16166;
}

.case_title{font-weight:bold; font-size:20px;}
