@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body{font-family: 'Poppins', sans-serif;}
p{font-size:12px; font-family: 'Poppins', sans-serif;}

h1,
h2,
h3,
h4,
h5,
h6 {font-family: 'Poppins', sans-serif; font-weight: 500; color: #F16669; }
.nav-menu a {text-decoration: none; transition: all 0.3s ease-in-out; }
.nav-menu a:hover, .nav-menu a:focus {text-decoration: none; outline: none; }



/* HOME
=========== */
/*********************
**********************
*****HEADER***********
**********************
**********************/
#header {height: 70px; transition: all 0.5s; transition: all 0.5s; padding: 10px 0; background: #808cc6; z-index: 997;}
#header.header-scrolled {box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.1);}
#header .logo h1 {font-family:'Poppins', sans-serif; font-size: 20px; margin: 0; padding: 10px 0; line-height: 1; font-weight: 400; letter-spacing: 3px; text-transform: uppercase; font-weight: bold;}
#header .logo h1 a, #header .logo h1 a:hover {color: #ffffff; text-decoration: none;}
#header .logo img {padding: 0; margin: 0; max-height: 40px;}


/*********************
**********************
*****Navbar***********
**********************
**********************/

.nav-menu, .nav-menu * {margin: 0; padding: 0; list-style: none;}
.nav-menu > ul > li {position: relative; white-space: nowrap; float: left;}
.nav-menu a {display: block; position: relative; color: #ffffff; padding: 12px 15px; transition: 0.3s;font-size: 14px; font-family: 'Poppins', sans-serif;}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {color: #BEEF9E;text-decoration: none;}
.nav-menu .dropdown ul {display: block; position: absolute; left: 0; top: 100%; z-index: 99; opacity: 0;visibility: hidden; padding: 10px 0; background: #fff; box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25); transition: ease all 0.3s; border-top: 2px solid #F16669;}
.nav-menu .dropdown:hover > ul {opacity: 1; top: 100%; visibility: visible;}
.nav-menu .dropdown li {min-width: 180px; position: relative;}
.nav-menu .dropdown ul a {padding: 10px 20px; font-size: 14px; font-weight: 500; text-transform: none; color: #3a3a3a;}
.nav-menu .dropdown ul a:hover, .nav-menu .dropdown ul .active > a, .nav-menu .dropdown ul li:hover > a {color: #F16669;}
.nav-menu .dropdown > a:after {font-family: 'Poppins', sans-serif; padding-left: 5px;}
.nav-menu .dropdown .dropdown ul {top: 0;left: 100%;}
.nav-menu .dropdown .dropdown:hover > ul {opacity: 1; top: 0;}
.nav-menu .dropdown .dropdown > a {padding-right: 35px;}
.nav-menu .dropdown .dropdown > a:after {font-family: 'Poppins', sans-serif; position: absolute; right: 15px;}
.bg-dark{background-color: #F16669!important;}


 
/*********************
**********************
*****Mobile-Nav*******
**********************
**********************/  

@media only screen and (max-width: 767px) {.nav-menu.ml-auto {background: rgba(0, 0, 0, 0.5);}.nav-menu a {font-size: 14px;font-weight: normal;}}
.navbar-toggler {padding: 1px 5px;font-size: 18px;line-height: 0.3;background: #fff;}	
@media (max-width: 1366px) {.dropdown .dropdown ul {left: -90%;}.dropdown .dropdown:hover > ul {left: -100%;}}

/*********************
**********************
*****Services ********
**********************/

.main_title{padding-bottom: 50px;}
.features_area {padding-top: 170px; padding-bottom:170px;}
@media (max-width: 1199px) {.features_area {padding-bottom: 50px; } }
.feature_item {padding: 45px 25px; text-align: center; background: #f9f9fd; cursor: pointer; margin-bottom: 30px; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; transition: all 0.4s ease 0s; }
.feature_item img {margin-bottom: 35px;}
.feature_item h4 {font-size: 20px; margin-bottom: 20px; text-transform: uppercase;}
.feature_item p {margin-bottom: 0px; }
.feature_item:hover {box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3); background: #fff; }
	
/*********************
**********************
*****Banner***********
**********************
**********************/

.slider_area {position: relative;}
.slider_area .single_slider {background-color: #808cc6;background-size: cover; background-repeat: no-repeat; background-position: center center; height:100vh;}  
.slider_area .single_slider .my_img {position: absolute;right: 0;bottom: 0; padding-right: 260px;}
.img_header{width:620px;}
.slider_area .single_slider .slider_text {padding: 303px 0;}
.slider_area .single_slider .slider_text h3 {font-family: 'Poppins', sans-serif;font-size: 55px;font-weight: 200;line-height: 60px;color: #fff;margin-bottom: 55px;}
.slider_area .single_slider .slider_text h3 span {color: #BEEF9E; font-weight: bold;}


/*********************
**********************
***Responsive-Banner**
**********************
**********************/

@media (max-width: 767px) {.slider_area .single_slider {height: auto;}} 
@media (min-width: 768px) and (max-width: 991px) {.slider_area .single_slider {height: 600px;}}
@media (max-width: 767px) {.slider_area .single_slider .slider_text {padding: 130px 0;}} 
@media (max-width: 767px) {.slider_area .single_slider .slider_text h3 {font-size: 30px;margin-bottom: 30px;line-height: 45px;}}
@media (min-width: 768px) and (max-width: 991px) {.slider_area .single_slider .slider_text h3 {font-size: 30px;}}
@media (min-width: 900px) and (max-width: 1450px) {.slider_area .single_slider .slider_text h3 {font-size: 50px;}}
@media (min-width: 800px) and (max-width: 1280px) {.slider_area .single_slider .slider_text h3 {font-size: 45px;}}
@media (min-width: 768px) and (max-width: 991px) {.slider_area .single_slider .my_img { padding-right: 150px;}}
@media (min-width: 900px) and (max-width: 1450px) {.slider_area .single_slider .my_img { padding-right: 200px;}}
@media (min-width: 800px) and (max-width: 1280px) {.slider_area .single_slider .my_img { padding-right: 100px;}}
		  

/*********************
**********************
*******Section********
**********************
**********************/

.section{padding:70px 0;}
.description{font-size: 1.5em; color:#999;}


/*********************
**********************
*******ABOUT ME*******
**********************
**********************/

.about_section{margin: 120px 0px 120px; }
.about_section .row {align-items: center;}
.about_img-box img {width: 70%;}
.about_detail-box p {margin: 24px 0;}
.about_stuk{margin: 0 !important;}
.title{font-weight: bold;}
.text_me{padding: 0px 120px 0px 0px;}


/*Triangle*/

.triangle-right {width: 0; height: 0px; border-top: 9px solid transparent; border-left: 13px solid #808cc6; border-bottom: 9px solid transparent; margin-bottom: 20px;}

/*Button */

.call_to-btn:hover,
.sub_call_to-btn:hover {color: #fff;-webkit-box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);-moz-box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.17);}
.sub_call_to-btn {display: inline-block; padding: 10px 28px; background-color: #F16669; color: #fff;display: flex; justify-content: center;align-items: center;}

/*********************
**********************
*****Portfolio********
**********************
**********************/
.site-section {
	padding: 7rem 0;
  }
  
  .filters a {
	color: #000;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
  }
  
  .filters a:hover,
  .filters a:focus,
  .filters a:active {
	text-decoration: none;
  }
  
  .filters a:hover:before {
	content: "";
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 0;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.61);
  }
  
  .filters a.active {
	color: #000;
  }
  
  .filters a.active:before {
	content: "";
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 0;
	height: 1px;
	background-color: #000;
  }
  
  .item {
	border: none;
	margin-bottom: 30px;
  }
  
  .item .item-wrap {
	display: block;
	position: relative;
	overflow: hidden;
  }
  
  .item .item-wrap:after {
	z-index: 2;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.836);
	visibility: hidden;
	opacity: 0;
	transition: .3s all ease-in-out;
  }
  
  .item .item-wrap img {
	transition: .3s transform ease;
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  
  .item .item-wrap > .work-info {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 3;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #808cc6;
	opacity: 0;
	visibility: hidden;
	margin-top: 20px;
	transition: .3s all ease;
  }
  
  .item .item-wrap > .work-info h3 {
	font-size: 20px;
	margin-bottom: 0;
  }
  
  .item .item-wrap > .work-info span {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .2rem;
  }
  
  .item .item-wrap:hover {
	text-decoration: none;
  }
  
  .item .item-wrap:hover img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
  }
  
  .item .item-wrap:hover:after {
	opacity: 1;
	visibility: visible;
  }
  
  .item .item-wrap:hover .work-info {
	margin-top: 0px;
	opacity: 1;
	visibility: visible;
  }
  
  .testimonial-wrap {
	padding: 50px 50px 80px 50px;
	background: #eceff2;
  }
  
  .testimonial-wrap .testimonial {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
  }
  
  .testimonial-wrap .testimonial img {
	border-radius: 50%;
	width: 120px;
	margin: 0 auto 30px auto;
  }
  
  .testimonial-wrap .testimonial blockquote p {
	font-size: 20px;
  }